version: '3.9'
services:
  postgres:
    image: postgres:16
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: zest_db
    volumes:
      - postgres-data:/var/lib/postgresql/data
volumes:
  postgres-data:
